@page
@model NewApp._Pages_Departamento.DetailsModel




<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento.Especialidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departamento.Especialidad)
        </dd>
    </dl>
</div>
    </div>
<h4>Medicos</h4>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Completo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pac in (List<NewApp.Model.Medico>)ViewData["MedAsig"])
        {
            <tr>
                <td>@pac.Id</td>
                <td>@pac.NCompleto</td>
            </tr>
        }
    </tbody>
</table>
<div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Departamento.Id" class="btn btn-info">Editar</a> |
    <a asp-page="./Index" class="btn btn-success">Volver</a>
</div>

